In [ ]:
import numpy as np
import pandas as pd

array_2d = np.random.randint(50, 100, size=(50, 5))
df1 = pd.DataFrame(array_2d,
             columns=['國文', '英文', '數學', '地理', '社會'],
             index=[f'{num}號' for num in range(1, 51)])
df1

In [4]:
total_s = df1['國文'] + df1['英文'] + df1['數學'] + df1['地理'] + df1['社會']

In [ ]:
average_s = total_s / 5
average_s

In [ ]:
df1['總分'] = total_s
df1['平均'] = average_s
df1

In [ ]:
# Series使用比較運算子
df1['總分'] >= 400

In [7]:
# DataFrame使用subscript，搜尋資料
# DataFrame[bool series]
df1[df1['總分'] >= 400]

     國文  英文  數學  地理  社會   總分    平均
7號   91  61  96  89  86  423  84.6
12號  93  97  84  70  97  441  88.2
22號  72  89  83  98  72  414  82.8
30號  93  88  64  62  94  401  80.2
31號  82  85  80  83  89  419  83.8
32號  68  93  58  98  97  414  82.8
39號  74  81  70  86  90  401  80.2
48號  82  57  92  99  81  411  82.2
50號  69  96  94  72  92  423  84.6

In [12]:
# 查詢國文95分以上的學生
df1[df1['國文'] >= 95]

     國文  英文  數學  地理  社會   總分    平均
3號   96  62  90  73  73  394  78.8
8號   95  77  80  96  73  421  84.2
9號   99  70  53  83  87  392  78.4
33號  99  84  96  81  55  415  83.0

In [14]:
# 查詢國文95分以上的學生同時總分400分以上
# and = &
# or = |
df1[(df1['國文'] >= 95) & (df1['總分'] >= 400)]

     國文  英文  數學  地理  社會   總分    平均
8號   95  77  80  96  73  421  84.2
33號  99  84  96  81  55  415  83.0