In [1]:
import numpy as np
import pandas as pd

tips = pd.read_csv('tips.csv')
tips.columns = ['總票價', '小費', '吸菸者', '日期', '時間', '大小']
tips

       總票價    小費  吸菸者    日期      時間  大小
0    16.99  1.01   No   Sun  Dinner   2
1    10.34  1.66   No   Sun  Dinner   3
2    21.01  3.50   No   Sun  Dinner   3
3    23.68  3.31   No   Sun  Dinner   2
4    24.59  3.61   No   Sun  Dinner   4
..     ...   ...  ...   ...     ...  ..
239  29.03  5.92   No   Sat  Dinner   3
240  27.18  2.00  Yes   Sat  Dinner   2
241  22.67  2.00  Yes   Sat  Dinner   2
242  17.82  1.75   No   Sat  Dinner   2
243  18.78  3.00   No  Thur  Dinner   2

[244 rows x 6 columns]

In [2]:
tips['小費比例'] = tips['小費'] / tips['總票價']
tips

       總票價    小費  吸菸者    日期      時間  大小      小費比例
0    16.99  1.01   No   Sun  Dinner   2  0.059447
1    10.34  1.66   No   Sun  Dinner   3  0.160542
2    21.01  3.50   No   Sun  Dinner   3  0.166587
3    23.68  3.31   No   Sun  Dinner   2  0.139780
4    24.59  3.61   No   Sun  Dinner   4  0.146808
..     ...   ...  ...   ...     ...  ..       ...
239  29.03  5.92   No   Sat  Dinner   3  0.203927
240  27.18  2.00  Yes   Sat  Dinner   2  0.073584
241  22.67  2.00  Yes   Sat  Dinner   2  0.088222
242  17.82  1.75   No   Sat  Dinner   2  0.098204
243  18.78  3.00   No  Thur  Dinner   2  0.159744

[244 rows x 7 columns]

In [3]:
def top(df: pd.DataFrame, n: int = 6, column: str = '小費') -> pd.DataFrame:
    return df.sort_values(by=column, ascending=False)[:n]
top(tips, n=10)

       總票價     小費  吸菸者    日期      時間  大小      小費比例
170  50.81  10.00  Yes   Sat  Dinner   3  0.196812
212  48.33   9.00   No   Sat  Dinner   4  0.186220
23   39.42   7.58   No   Sat  Dinner   4  0.192288
59   48.27   6.73   No   Sat  Dinner   4  0.139424
141  34.30   6.70   No  Thur   Lunch   6  0.195335
183  23.17   6.50  Yes   Sun  Dinner   4  0.280535
214  28.17   6.50  Yes   Sat  Dinner   3  0.230742
47   32.40   6.00   No   Sun  Dinner   4  0.185185
239  29.03   5.92   No   Sat  Dinner   3  0.203927
88   24.71   5.85   No  Thur   Lunch   2  0.236746

In [4]:
tips.groupby(by='吸菸者').apply(top, n=5)

C:\Users\chesterXalan\AppData\Local\Temp\ipykernel_14040\3724156827.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  tips.groupby(by='吸菸者').apply(top, n=5)

           總票價     小費  吸菸者    日期      時間  大小      小費比例
吸菸者
No  212  48.33   9.00   No   Sat  Dinner   4  0.186220
    23   39.42   7.58   No   Sat  Dinner   4  0.192288
    59   48.27   6.73   No   Sat  Dinner   4  0.139424
    141  34.30   6.70   No  Thur   Lunch   6  0.195335
    47   32.40   6.00   No   Sun  Dinner   4  0.185185
Yes 170  50.81  10.00  Yes   Sat  Dinner   3  0.196812
    183  23.17   6.50  Yes   Sun  Dinner   4  0.280535
    214  28.17   6.50  Yes   Sat  Dinner   3  0.230742
    181  23.33   5.65  Yes   Sun  Dinner   2  0.242177
    211  25.89   5.16  Yes   Sat  Dinner   4  0.199305